@import "../../style.scss";
.login{
    height: 100vh;
    background-color: rgb(193, 190,255);
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        display: flex;
        width: 50%;
        background-color: #fff;
        border-radius: 10px;
        min-height: 70%;
        overflow: hidden;
        @include mobile {
            width: 90%;
            min-height: 60%;
        }
        .left{
            flex: 1;
            background:linear-gradient(rgba(39,11,96,0.5), rgba(92, 8, 128, 0.7)),  url('https://images.pexels.com/photos/1557843/pexels-photo-1557843.jpeg?auto=compress&cs=tinysrgb&w=600') center;
            background-size: cover;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: #fff;

            @include mobile {
                display: none;
                width: 100%;
            }

            h1{
                font-size: 50px;
                line-height: 70px;
            }
            p{
                font-size: 14px;

            }
            span{
                font-size: 12px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: #fff;
                color: rebeccapurple;
                cursor: pointer;
                font-weight: bold;
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1{
                color: #555;

            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;

                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                    outline: none;
                    font-size: 15px;

                }

                button{
                    width: 100%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: #fff;
                    cursor: pointer;
                    font-weight: bold;
                }
                span{
                    display: none;
                    @include mobile {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        color: #444;
                        padding-top: 10px;

                    }
                }                
            }
        }
    }
}