.register{
    height: 100vh;
    background-color: rgb(193, 190,255);
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        display: flex;
        width: 50%;
        background-color: #fff;
        flex-direction: row-reverse;
        border-radius: 10px;
        min-height: 70%;
        overflow: hidden;

        .left{
            flex: 1;
            background:linear-gradient(rgba(39,11,96,0.5), rgba(92, 8, 128, 0.7)),  url('https://images.pexels.com/photos/1485031/pexels-photo-1485031.jpeg?auto=compress&cs=tinysrgb&w=600') center;
            background-size: cover;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: #fff;

            h1{
                font-size: 50px;
                line-height: 70px;
            }
            p{
                font-size: 14px;
            }
            span{
                font-size: 12px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: #fff;
                color: rebeccapurple;
                cursor: pointer;
                font-weight: bold;
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;

            h1{
                color: #555;
                font-size: 22px;

            }
            form{
                display: flex;
                flex-direction: column;
                gap: 10px;

                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding:15px 10px;
                    outline: none;
                    font-size: 15px;

                }

                button{
                    width: 100%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: #fff;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
    }
}