@import "../../style.scss";

    
.home{
    @include themify($themes){
        background-color: themed("bgSoft");
        color:themed("textColor");
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 50px;

        @include mobile {
            padding: 10px;
            width: 89vw;
        }
        @include tablet {
            padding: 20px;
        }
    }
}