.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 30px;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0;
    background-color: #fff;

    .left{
        display: flex;
        align-items: center;
        gap: 20px;

        span{
            font-weight: bold;
            font-size: 16px;
            color: darkblue;

        }

        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            padding: 3px;

            input{
                border: none;
                outline: none;
                width: 40vw;

            }
        }
    }

    .right{
        display: flex;
        align-items: center;
        gap: 15px;

        .user{
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            span{

            }
        }
    }
}